<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soloparaapasionados.identidadmobile">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".aplicacion.DeviceDatabaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_dispostivo_registro"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name=".sqlite.ProviderCotizacion"
            android:authorities="com.soloparaapasionados.identidadmobile"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".actividades.EmpleadoActivity"
            android:label="@string/actividad_titulo_registrar_empleado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actividades.EmpleadoAdicionarEditarActivity"
            android:label="@string/title_activity_empleado_adicionar_editar"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".ServicioLocal.EmpleadoServicioLocal"
            android:exported="false" />

        <activity
            android:name=".actividades.EmpleadoListadoActivity"
            android:label="@string/title_activity_empleado_listado"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividades.EmpleadoDetalleActivity"
            android:label="@string/title_activity_empleado_detalle"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>